body {
    background: black;
}

.header {
    display: flex;
    width: 1440;
    height: 86;
    gap: 390px;
    border-bottom-width: 1px;
    padding-right: 97px;
    padding-left: 97px;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid gray;
    

    .logo {
        width: 473;
        height: 58;
        gap: 50px;
        display: flex;
        width: 473;
     

        img {
           
            height: 58;
            border-bottom-width: 1px;
            padding-top: 12px;
            padding-bottom: 12px;
            gap: 10px;
            /*height: 20px;*/
            width: 216;
        }

    }

    .cta-button{
        width: 383;
        height: 48;
        gap: 40px;

    }
    .cta {
        text-decoration: none;
        border-radius: 12px;
        font-family: Space Grotesk;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        border: none;
        cursor: pointer;
        background-color: #1C1924;
        display: inline-block;
    }
    
    .cta span {
        background-image: linear-gradient(255.22deg, #5552FF -0.14%, #AA2C82 62.58%, #DA100B 81.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}