@import "tailwindcss";

:root {
  --background: #09080C;
  --foreground: #ffffff;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-grotesk: var(--font-space-grotesk);
}

@layer base {
  html {
    font-family: var(--font-grotesk), sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.header {
  border-image-slice: 1;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    #BDBDBD 19.05%,
    rgba(189, 189, 189, 0) 119.05%
  );
}
@layer utilities {
  @keyframes rotateInLeft {
    from {
      transform: rotate(2deg);
    }
    to {
      transform: rotate(-3deg);
    }
  }

  @keyframes rotateInRight {
    from {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(3deg);
    }
  }

  .animate-rotate-in-left {
    animation: rotateInLeft 0.5s ease-in-out forwards;
  }

  .animate-rotate-in-right {
    animation: rotateInRight 0.5s ease-in-out forwards;
  }
}

